{#
 # Available variables:
 # - config.base_class - base classname of the wrapper.
 # - config.modifier - array of modifiers to add to the base classname of the wrapper.
 # - config.blockname - blockname prepended to the base classname of the wrapper(s) and each component.
 # - connfig.card__tabindex - tabindex for card.
 #
 # - card__image.src - the actual image file location.
 # - card__image.alt - (optional) the alt text for screen readers and when the image cannot load.
 # - config.card__image__output_image_tag - whether to print the picture element or not.
 #
 # - card__heading - the content of the title component.
 # - config.card__heading__base_class - base classname of the title component. Defaults to "title".
 # - config.card__heading__blockname - blockname to add to the base classname of the title - defaults to card__base_class.
 # - config.card__heading__modifiers - array of modifiers to add to the base classname of the title.
 #
 # - card__link.url - the url the link should link to.
 # - card__link.attributes - array of attribute,value pairs for the link attribute.
 #
 # - card__image.src - the actual image file location.
 # - card__image.alt - (optional) the alt text for screen readers and when the image cannot load.
 # - config.card__image__output_image_tag - whether to print the picture element or not.
 #
 # - card__body - the content of the body component.
 # - config.card__body__base_class - base classname of the body component. Defaults to "body".
 # - config.card__body__modifiers - array of modifiers to add to the base classname of the body.
 #}

{% set card__base_class = config.base_class|default('card-e') %}
{% set card__blockname = config.blockname|default() %}
{% set card__modifiers = config.modifier|default([]) %}
{% set card__data_analytics_group = config.data_analytics_group|default(card__heading) %}

{% set card_attributes = {
  class: bem(
    card__base_class,
    card__modifiers,
    card__blockname
  ),
  'data-analytics-group': 'Card > ' ~ card__data_analytics_group|render is not empty ? card__data_analytics_group|striptags : 'Card E',
  'data-test': (card__heading|render is not empty ? card__heading : 'card-heading')|trim|striptags|replace({' ':'-'})|lower ~ '-card'
}|merge(card__link ? {
  href: card__link.url,
  target: card__link.attributes.target|default('_blank')
} : {}) %}

{% set cardTag = card__link ? 'a' : 'div' %}

<{{ cardTag }} {{ add_attributes(card_attributes) }}>
  {# Top section #}
  {% block card__top %}
    <div {{ bem('top', card__content__modifiers, card__base_class) }}>
      {# Heading icon #}
      {% block card__icon %}
        {% if card__icon %}
          {% include "@atoms/images/image/responsive-image.twig" with {
            responsive_image_blockname: card__base_class,
            output_image_tag: config.card__icon__output_image_tag|default('true'),
            image_src: card__icon.src,
            image_alt: card__icon.alt,
          } %}
        {% endif %}
      {% endblock %}

      {# Heading #}
      {% block card__heading %}
        {% if card__heading %}
          {% include "@atoms/text/headings/_heading.twig" with {
            heading__base_class: config.card__heading__base_class|default('heading'),
            heading__modifiers: config.card__heading__modifiers,
            heading__blockname: card__base_class,
            heading_level: 4,
            heading: card__heading,
          } %}
        {% endif %}
      {% endblock %}

      {# Link icon #}
      {% block card__link__icon %}
        {% if card__link %}
          {% include "@atoms/images/icons/_icon.twig" with {
            icon__name: card__link.attributes.link__icon
          } %}
        {% endif %}
      {% endblock %}
    </div>
  {% endblock %}

  {# Content section #}
  {% block card__content %}
    <div {{ bem('content', card__content__modifiers, card__base_class) }}>
      {# Image #}
      {% block card__image %}
        {% if card__image %}
          {% include "@atoms/images/image/responsive-image.twig" with {
            image_blockname: card__base_class,
            output_image_tag: config.card__image__output_image_tag|default('true'),
            image_src: card__image.src,
            image_alt: card__image.alt,
          } %}
        {% endif %}
      {% endblock %}

      {# Body #}
      {% block card__body %}
        {% if card__body %}
          {% if card__body is iterable %}
            {% for item in card__body %}
              {% include "@atoms/text/text/08-section.twig" with {
                section_base_class: config.card__body__base_class|default('text'),
                section_modifiers: config.card__body__modifiers,
                section_blockname: card__base_class,
                section_content: item.text|default(item),
              } %}
            {% endfor %}
          {% else %}
            {% include "@atoms/text/text/08-section.twig" with {
              section_base_class: config.card__body__base_class|default('text'),
              section_modifiers: config.card__body__modifiers,
              section_blockname: card__base_class,
              section_content: card__body,
            } %}
          {% endif %}
        {% endif %}
      {% endblock %}
    </div>
  {% endblock %}
</{{ cardTag }}>
